<?xml version="1.0"?>
<launch>
  <arg name="verbose" value="true" />
  <!-- Load the URDF/Xacro model of our robot -->
  <!-- include file="$(find agile_gazebo)/launch/upload_robot.urdf.launch" / -->

  <!-- FOR setup the env -->
  <param name="pkg_name"       value="agile_apps" />
  <rosparam command="load" file="$(find agile_apps)/config/yaml/leg_agile_robot.yaml" />
  <rosparam command="load" file="$(find agile_apps)/config/yaml/leg_agile_control.yaml" />

  <!-- Load hardware interface -->
  <node name="leg_apps" pkg="agile_apps" type="mii_apps" output="screen">
    <param name="verbose"     value="$(arg verbose)"  />
    <param name="robot_ns"    value="agile_robot"   />
    <param name="control_ns"  value="agile_control" />
  </node>

  <!-- Convert joint states to /tf tranforms -->
  <!-- node name="agile_robot_state_puber" pkg="robot_state_publisher" type="robot_state_publisher" /-->

</launch>
