<?xml version="1.0"?>
<launch>
  <arg name="verbose"         value="true"       />

  <!-- FOR setup the env -->
  <param    name="pkg_name"   value="agile_apps" />
  <rosparam command="load"    file="$(find agile_apps)/config/yaml/leg_control.yaml" />
 
  <!-- Load hardware interface -->
  <node name="leg_control" pkg="agile_apps" type="leg_control" output="screen" >
    <param name="verbose"     value="$(arg verbose)"  />
    <param name="namespaces"  value="leg_control"     />
  </node>

</launch>

