<?xml version="1.0"?>
<launch>
  <arg name="debug"               default="True"  />
  <arg name="sim"                 default="False" />
  <arg name="use_ros_control"     default="False" />
  <arg name="rt_frequency"        default="100.0" />
  <arg name="ctrl_loop_frequency" default="100.0" />

  <!-- Load the URDF/Xacro model of our robot -->
  <!-- include file="$(find agile_gazebo)/launch/upload_robot.urdf.launch" / -->

  <!-- Load hardware interface -->
  <node name="leg_bringup" pkg="agile_apps" type="agile_apps" output="screen">
    <param name="prefix"    value="leg" />
    <param if="$(arg sim)"     name="configure" value="$(find agile_apps)/config/leg_robot_sim.cfg" />
    <param unless="$(arg sim)" name="configure" value="$(find agile_apps)/config/leg_robot.cfg" />
    
    <param name="library"   value="$(env HOME)/Workspaces/agile_ws/devel/lib/libagile_driver_sys_platform.so"/>
    <param name="gait_cfg"  value="$(find agile_apps)/config/leg_gait.cfg" />
    <param name="gait_lib"  value="$(env HOME)/Workspaces/agile_ws/devel/lib/libagile_control_repository.so" />

    <param name="use_ros_control"     type="bool"   value="$(arg use_ros_control)"     />
    <param name="debug"               type="bool"   value="$(arg debug)"               />
    <param name="rt_frequency"        type="double" value="$(arg rt_frequency)"        />
    <param name="ctrl_loop_frequency" type="double" value="$(arg ctrl_loop_frequency)" />
  </node>

  <!-- Convert joint states to /tf tranforms -->
  <!-- node name="agile_robot_state_puber" pkg="robot_state_publisher" type="robot_state_publisher" /-->

</launch>

