<?xml version="1.0"?>
<launch>
  <arg name="verbose"       default="true" />
  <arg name="multi_process" default="true" />
  <!-- Load the URDF/Xacro model of our robot -->
  <!-- include file="$(find agile_gazebo)/launch/upload_robot.urdf.launch" / -->

  <!-- FOR setup the env -->
  <param       name="pkg_name" value="agile_apps" />
  <rosparam command="load"     file="$(find agile_apps)/config/yaml/leg.yaml"             if="$(arg multi_process)" />
  <rosparam command="load"     file="$(find agile_apps)/config/yaml/leg_robot.yaml"   unless="$(arg multi_process)" />
  <rosparam command="load"     file="$(find agile_apps)/config/yaml/leg_control.yaml" unless="$(arg multi_process)" />

  <!-- Load hardware interface -->
  <node    name="leg_launcher"   pkg="agile_apps" type="leg_launcher" output="screen"     if="$(arg multi_process)" >
    <param name="verbose"      value="$(arg verbose)"       />
    <param name="namespaces"   value="leg"                  />
  </node>

  <node    name="leg_apps"      pkg="agile_apps"  type="leg_apps"     output="screen" unless="$(arg multi_process)" >
    <param name="verbose"     value="$(arg verbose)"        />
    <param name="namespaces"  value="leg_robot leg_control" />
  </node>

  <!-- Convert joint states to /tf tranforms -->
  <!-- node name="agile_robot_state_puber" pkg="robot_state_publisher" type="robot_state_publisher" /-->

</launch>
