<?xml version="1.0"?>

<model>
  <name>agile_robot</name>
  <version>1.0</version>
  <sdf version="1.5">model-1_5.sdf</sdf>
  <sdf version="1.6">model.sdf.v1.0.0</sdf>
  <!-- <sdf version="1.6">model.sdf</sdf> -->

  <author>
    <name>Bibei Sun</name>
    <email>sunbibei@sina.com</email>
  </author>

  <description>
  </description>
</model>
