<?xml version="1.0"?>
<launch>
  
  <param name="qr_driver_controller_test3/type" value="qr_driver_test/QrDriverTestController3" />
  <rosparam command="load" file="$(find qr_apps)/examples/config/test_controller2_3.yaml" />

  <!-- Spawn Controller -->
  <node name="test_controller3" pkg="controller_manager" type="spawner" respawn="false"
        output="screen"        args="--shutdown-timeout -1 qr_driver_controller_test3"  />

</launch>